.gallery {
    display: flex;

    background-color: whitesmoke;
    border-radius: 5px;
    padding: 7px;
    gap: 8px;



}

body {
    background-color: #031124;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;
}


.card {

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 2px;
    width: 90px;
    border-radius: 2px;
    padding: 5px;
    height: 170px;
    flex: 1px;

    transition: ease-in-out 0.5s;

}

.card:nth-child(1) {
    background-color: aqua;
}

.card:nth-child(2) {
    background-color: burlywood;
}

.card:nth-child(3) {
    background-color: #6bd96b;
}

.card:nth-child(4) {
    background-color: crimson;
}

.card:nth-child(5) {

    background-color: blueviolet;
}

.card:hover {
    flex: 3;
    font-family: monospace;
    font-size: xx-large;
    font-weight: 900;
    cursor: pointer;
}
